@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: #f9fafb; /* slate-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
}

